<%- include ("encabezado")%>
<script src="https://kit.fontawesome.com/c761c406fa.js" crossorigin="anonymous"></script>
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Contacto</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Sugerencias</h2>
                            <p>
                                Tus palabras son la guia para mejorar. Gracias por tus comentarios
                            </p>
                            <div class="form">
                                <input style="background-color: aliceblue;" class="form-control" placeholder="Escribenos tu comentario">
                                <a href="/envCom"><button type="button" class="btn custom-btn">Enviar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">The Burger House</a>, Todos los derechos reservados.</p>
                    <p>Creado por <a href="https://wolfcorp.com">Wolf Corp</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->